<!DOCTYPE html>
{% load static %}
<html>
<head>
    <title>Image Uploader</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/style.v2.css' %}">
    <script src="{% static 'js/script.js' %}"></script>
</head>
<body>

    {% if messages %}
        {% for message in messages %}
            <div class="toast bg-dark text-white position-fixed" role="alert" aria-live="assertive" aria-atomic="true" data-bs-delay="2000">
                <div class="toast-header">
                    <strong class="mr-auto {% if message.level == 20 %} done">  Done ✅ {% elif message.level == 40 %} error" > Looks not so good 🗿 {% endif %}</strong>
                    <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="toast-body">
                    {{ message }}
                </div>
            </div>
        {% endfor %}
    {% endif %}
    <div class="image-content">
        {% if latest_file %}
            <img id="image" src="/media/{{ latest_file }}" />
            <div>
                <form method="post" action="react">
                    {% csrf_token %}
                    <input type="hidden" name="user" value="{{ user }}">
                    <button class="reaction_button" type="submit" name="reaction" value="heart">🥰</button>
                    <button type="submit" class="reaction_button" name="reaction" value="poop">💩</button>
                    <button type="submit" class="reaction_button" name="reaction" value="stone">🗿</button>
                    <button type="submit" class="reaction_button" name="reaction" value="lol">😂</button>
                </form>
            </div>
        {% endif %}
    </div>
    <div id="image-uploader" class="image-uploader">
        <form id="uploader" method="post" action="upload" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="hidden" name="user" value="{{ user }}">
            <input type="hidden" name="reaction" value="new_photo">
            <label for="file-input" class="upload-label">
                <svg class="upload-icon" height="50" viewBox="0 0 1792 1792" width="50" xmlns="http://www.w3.org/2000/svg" fill="#8E8E93">
                    <path d="M1344 1472q0-26-19-45t-45-19-45 19-19 45 19 45 45 19 45-19 19-45zm256 0q0-26-19-45t-45-19-45 19-19 45 19 45 45 19 45-19 19-45zm128-224v320q0 40-28 68t-68 28h-1472q-40 0-68-28t-28-68v-320q0-40 28-68t68-28h427q21 56 70.5 92t110.5 36h256q61 0 110.5-36t70.5-92h427q40 0 68 28t28 68zm-325-648q-17 40-59 40h-256v448q0 26-19 45t-45 19h-256q-26 0-45-19t-19-45v-448h-256q-42 0-59-40-17-39 14-69l448-448q18-19 45-19t45 19l448 448q31 30 14 69z"/>
                </svg>
                <span class="upload-text">Drag and drop images here or click to upload</span>
            </label>
            <input type="file" id="file-input" class="file-input" name="image" accept="image/*" onchange="uploader.submit()">
        </form>
    </div>
</body>
</html>